<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>index page</title>
        <link rel="stylesheet" href="../static/css/semantic.css" media="screen" title="no title" charset="utf-8">
    </head>
    <body>
        <div class="ui basic segment" style="padding:0;">
            <div class="ui inverted menu">
                <div href="?gender=jj" class="ui simple dropdown item">
                    近畿
                    <i class="dropdown icon"></i>
                    <div class="menu">
                      <div class="item">山城</div>
                    </div>
                </div>
                <div class="ui simple dropdown item">
                    东海道
                    <i class="dropdown icon"></i>
                    <div class="menu">
                      <div class="item">伊贺</div>
                    </div>
                </div>
                <div class="ui simple dropdown item">
                    西海道
                    <i class="dropdown icon"></i>
                    <div class="menu">
                      <div class="item">伊贺</div>
                    </div>
                </div>
                <div class="ui simple dropdown item">
                    南海道
                    <i class="dropdown icon"></i>
                    <div class="menu">
                      <div class="item">伊贺</div>
                    </div>
                </div>
                <div class="ui simple dropdown item">
                    东山道
                    <i class="dropdown icon"></i>
                    <div class="menu">
                      <div class="item">伊贺</div>
                    </div>
                </div>
                <div class="ui simple dropdown item">
                    北陆道
                    <i class="dropdown icon"></i>
                    <div class="menu">
                      <div class="item">伊贺</div>
                    </div>
                </div>
                <div class="ui simple dropdown item">
                    山阴道
                    <i class="dropdown icon"></i>
                    <div class="menu">
                      <div class="item">伊贺</div>
                    </div>
                </div>
                <div class="ui simple dropdown item">
                    山阳道
                    <i class="dropdown icon"></i>
                    <div class="menu">
                      <div class="item">伊贺</div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
