<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <title>留言板</title>
        <link rel="stylesheet" href="../static/css/semantic.css" media="screen" title="no title" charset="utf-8">
        <script type="text/javascript" href="../static/js/vue1.js"></script>
    </head>
    <body id="app">
        <img src="{% static '/uploads/留言背景.jpg' %}" style="position:absolute;width:100%;height:100%;z-index:-3;"/>
        <div class="ui basic segment" style="padding:0;">
            <div class="ui inverted menu">
                <a href="{% url 'index' %}" class="ui simple dropdown active item">返回首页</a>
            </div>
        </div>
        <div class="ui segment" style="position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);width:600px;">
            <h2 class="ui center aligned header">留言板</h2>
            {% for one in message_list %}
                <p><img src="/static/uploads/{{ one.belong_to.profile.profile_image }}" class="ui avatar image" /><span>{{ one.belong_to }}</span></p>
                <p>{{ one.content }}</p>
            {% endfor %}
            {% if request.user.is_authenticated %}
                <form class="ui form" method="post">
                    {{ form }}
                    {% csrf_token %}
                    <button type="submit" class="ui red button">提交</button>
                </form>
            {% endif %}
        </div>
        <script>
            var vm = new Vue({
                el:"#app",
            })
        </script>
    </body>
</html>
